
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.idea
CloudCode/.elasticbeanstalk/*
CloudCode/!.elasticbeanstalk/*.cfg.yml
CloudCode/!.elasticbeanstalk/*.global.yml
